@top-header-color: #4CB1CA;
@top-header-left-side-color: #BEF2FF;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    .top-header {
        height: 42px;
        width: 100%;
        background-color: @top-header-color;
    }

    .top-header-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;

        .left-side {
            display: grid;
            flex-direction: row;
            width: 800px;
            grid-template-columns: 25% 25%;
            justify-content: center;
            align-items: center;
            color: @top-header-left-side-color;

            .currency {
                padding-left: 20px;
            }

            select {
                background-color: @top-header-color;
                border: none;
                color: #FFFFFF;
            }
        }

        .right-side {

            ul {
                display: grid;
                flex-direction: row;
                grid-template-columns: 15% 15% 15% 15% 15%;
                justify-content: flex-end;
                width: 800px;

                li {
                    list-style-type: none;
                }

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 108px;

        .nav-logo {
            display: grid;
            justify-content: flex-end;
            width: 600px;
            font-size: 36px;
            text-transform: uppercase;
        }

        .navigation {
            display: grid;
            align-items: center;
            width: 600px;

            ul {
                display: grid;
                grid-template-columns: 14% 14% 14% 14% 14%;
                justify-content: flex-start;

                li {
                    list-style-type: none;
                }

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #868686;
                    font-weight: 900;
                }
            }
        }

        .search-field {
            width: 600px;
            display: grid;
            align-items: center;
            justify-content: flex-start;


            .search-wrapper {
                height: 20px;

                button {
                    background-color: #fff;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }

    .slider {
        img {
            width: 100%;
            height: 500px;
            margin-top: 50px;
        }

        .carousel-item {
            position: relative;
        }

        .carousel-caption {
            position: absolute;
            left: 20%;
            top: 30%;
            text-transform: uppercase;
            color: #000;
            width: 350px;
            height: 100px;
        }
    }
}

main {
    .main-header {
        margin-left: 15%;
        text-transform: uppercase;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 1000px;
        margin-left: 15%;

        .products-wrapper {
            width: 230px;
            height: 500px;
            display: grid;
            grid-template-rows: 330px 40px 40px 40px;

            .price {
                color: green;
            }
        }
    }
}

